# Compiled binaries (no extension, produced by gcc -o)
01-basics-of-programming/examples/*
!01-basics-of-programming/examples/*.c
02-data-types-and-operators/examples/*
!02-data-types-and-operators/examples/*.c
03-variables-and-io/examples/*
!03-variables-and-io/examples/*.c
04-control-structures/examples/*
!04-control-structures/examples/*.c
05-arrays-and-strings/examples/*
!05-arrays-and-strings/examples/*.c
06-functions/examples/*
!06-functions/examples/*.c
07-pointers/examples/*
!07-pointers/examples/*.c
08-structs-and-files/examples/*
!08-structs-and-files/examples/*.c
10-recursion/examples/*
!10-recursion/examples/*.c
11-dynamic-memory-allocation/examples/*
!11-dynamic-memory-allocation/examples/*.c
12-linked-lists/examples/*
!12-linked-lists/examples/*.c
13-stacks-and-queues/examples/*
!13-stacks-and-queues/examples/*.c
14-multi-file-programs/examples/*
!14-multi-file-programs/examples/*/
14-multi-file-programs/examples/*/*
!14-multi-file-programs/examples/*/*.c
!14-multi-file-programs/examples/*/*.h
!14-multi-file-programs/examples/*/Makefile
15-debugging-and-memory-safety/examples/*
!15-debugging-and-memory-safety/examples/*.c
16-enums-unions-and-bitwise-operators/examples/*
!16-enums-unions-and-bitwise-operators/examples/*.c
17-command-line-arguments-and-cli-tools/examples/*
!17-command-line-arguments-and-cli-tools/examples/*.c
18-sorting-and-searching-algorithms/examples/*
!18-sorting-and-searching-algorithms/examples/*.c

*.o
*.out
*.exe
*.dSYM/
.vscode/
.DS_Store
*.dat
*.log
